<template>
    <div id="content">
        <div class="row p-3" id="post-header" v-show="!spinnerStatus">
          <div class="col-md-10 pb-3" style="text-align: center;">
            <div class="fs-1 page-container-title">
              ¿Nos ayudas con las necesidades de 
                <b id="checkbox-container" style="display:inline-block;">
                  <div class="ui-widget">
                    <select name="combobox" id="combobox">
                      <option v-for="(value, name, index) in comunities" :key="index" :value="name" @click="changeCommunity(name)" :selected="name === this.$route.params.community ? true : false"> 
                        {{ name }}
                      </option>
                    </select>
                  </div>
                </b> ?
            </div>
          </div>
          
          <div class="col-md-2">
            <span id="donesButton">
              <!-- <a class="btn float-sm-end" href="dones" role="button" style="background-color:#198754;cursor:pointer;border-radius:0;background-image:unset;color:#fff;font-size:1em;" title="Ver los dones de esta comunidad">Dones</a> -->
              <RouterLink class="btn float-sm-end" :to="'/' + this.$route.params.community + '/dones'" role="button" style="background-color:#198754;cursor:pointer;border-radius:0;background-image:unset;color:#fff;font-size:1em;" title="Ver los dones de esta comunidad">Dones</RouterLink>
            </span>
          </div>
        </div>
  
        <div class="row" id="searchs" style="margin-bottom:30px" v-show="!spinnerStatus">
          <div class="col-lg-4" style="margin-top:-5px;padding-left:20px;">
            <i style="font-size:1.5em;top:5px;position:relative" title="Buscar por categorias"></i>
            <span>
              <a class="ps-2 pe-2" id="jan" @click="searchCategory('jan')" style="margin-top:-1em" title="Buscar por la categoria Jan o añadirla a la busqueda"><span style="font-size:1.3em">🍞</span> Jan</a>| 
              <a class="pe-2" id="lo" @click="searchCategory('lo')" title="Buscar por la categoria Lo o añadirla a la busqueda"><span style="font-size:1.3em">💤</span> Lo</a>|
              <a class="pe-2" id="lagunak" @click="searchCategory('lagunak')" title="Buscar por la categoria Lagunak o añadirla a la busqueda"><span style="font-size:1.3em">🧙‍♀️</span> Lagunak</a>
            </span>
          </div>
  
          <div class="col-lg-4">
            <i class="bi bi-binoculars"></i>
            <input type="range" min="0" max="5000" value="0" step="500" id="distance" style="top:6px;position:relative">
            <span id="distance-info">0m</span>  
          </div>
  
          <div class="col-lg-4">
            <span class="topnav">
              <span class="search-container">
                <!-- <form> -->
                  <input type="text" placeholder="Buscar.." name="search" id="search">
                  <span style="cursor:default;padding:5.5px 7.5px;margin-left:-4.5px;background-color: #ced4da" title="Busca por palabras completas!">
                    <i class="bi bi-search"></i>
                  </span>
               <!--  </form> -->
              </span>
            </span> 
          </div>
        </div>
  
        <div class="spin-container" v-show="spinnerStatus" >
          <div class="spin" id="loader"></div>
          <div class="spin" id="loader2"></div>
          <div class="spin" id="loader3"></div>
          <div class="spin" id="loader4"></div>
          <span id="text">CARGANDO...</span>
        </div>
  
        <div class="row" id="data-area">
          <div class="col-md-6 scrollable">
            <table style="width:100%" id="data-table" v-if="necesidades.length > 0">
              <tr v-for="(necesidad,x) in necesidades" :key="x" :id="x" style="line-height: 1.1;" :class="x === 0 ? 'grey-background' : ''">
                <td style="width:84%;padding: 10px;" @click="go(x)">
                  <b>{{necesidad.name}}</b>
                </td>
                <td>
                  <span class="rounded-3" style="font-size:1.5em;margin-right:3px" role="img" aria-label="Envelope plus fill - large preview" alt="message"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-pulse-fill" viewBox="0 0 16 16">
                    <title>Necesidades</title>
                    <path fill-rule="evenodd" d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9H1.475ZM.879 8C-2.426 1.68 4.41-2 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.88Z"/>
                  </svg>
                  </span>{{necesidad.metadata.necesidades}}
                </td>
                <td>
                  <span class="rounded-3" style="font-size:1.5em;margin-left:.5em;margin-right:3px" role="img" aria-label="Envelope plus fill - large preview" alt="message"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                      <title>Dones</title>
                      <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                    </svg>
                  </span>{{necesidad.metadata.dones}}
                </td>
              </tr>
            </table> 
  
            <table style="width:100%;border: 1px solid rgba(0, 0, 0, 0.1)" id="data-table" v-if="necesidades.length <= 0 && !spinnerStatus">
              <tr style="line-height: 1.1;">
                <td style="width:84%;padding: 10px;">
                  <b>!!! Ninguna necesidad encontrada para esta busqueda.</b>
                </td>
              </tr>
            </table>
          </div>
  
          <div class="col-md-6">
            <div id="map" style="height:100%;z-index:1;"></div>
            <div style="position:relative;top:-35px;z-index: 2;width: fit-content;padding: 5px;">
              
              <span v-for="(user,z) in selectedNecesidad" :key="z" :id="z" style="border: 3px solid black;margin-right: 2px;padding: 5px;background-color:#E5E7EB;color: black;">
                <a @click="goInsideMap(z, activeMarkerId)">{{z+1}}</a>
              </span>
             <!--  <span style="border: 3px solid black;margin-right: 2px;padding: 5px;background-color:#E5E7EB;color: black;"><a>2</a></span>
              <span style="border: 3px solid black;margin-right: 2px;padding: 5px;background-color:#E5E7EB;color: black;"><a>3</a></span>
              <span style="border: 3px solid black;margin-right: 2px;padding: 5px;background-color:#E5E7EB;color: black;"><a>4</a></span>
              <span style="border: 3px solid black;margin-right: 2px;padding: 5px;background-color:#E5E7EB;color: black;"><a>5</a></span> -->
              
            </div>
          </div>
        </div>
  </div>
  
  
  </template>
  
  
  <!-- <script lang="ts"> -->
  <script>
  import GlobalConf from '../App.vue';
  
  export default {
      // props: ['postId'],
  
      data() {
          return {
            freeSearch: '',
            distance: 0,
            categories: [],
            categoriesSelected: [],
            necesidades: [],
            comunities: [],
            map: '',
            mapCharged: false,
            activeMarkerId: 0,
            spinnerStatus: false,
            // https://www.calcmaps.com/map-coordinates/z
            // https://www.google.es/maps/dir//43.3173807,-1.9782111/@43.3170546,-1.9775704,17z/data=!4m2!4m1!3e0
            communityLocation:[43.322181,-1.984496],
            // selectedOption: "Donosti",
            selectedNecesidad: undefined
          }
      },
  
      async created() {
        const {communities, categories} = await GlobalConf.created()
        this.comunities = communities;
        this.categories = categories;
      },
  
      async mounted() {
        this.spinnerStatus = true;
        const community = this.$route.params.community;
        const {communities} = await GlobalConf.created();
        await this.getData({ type:"necesidades", community: communities[community]._id });
        await this.init();
        this.spinnerStatus = false;
  
        $("#distance").change(async () => {
          console.log("distance change", $("#distance").val());
          $(".spin-container").toggle();
          $("#data-area").toggle();
          
          this.distance = $("#distance").val();
          $("#distance-info").html(this.distance + "m");
  
          this.necesidades.map(marker => this.map.removeLayer(marker.marker));
  
          const community = this.$route.params.community;
          const communityLocationId = this.comunities[community]._id;
  
          let searchData = {
            "type": "necesidades",
            "categories": this.categoriesSelected,
            "community": [`${communityLocationId}`],
            "text": `${this.freeSearch}`,
            "location": {
              "geometry": this.communityLocation,
              "maxDistance": parseInt(this.distance)
            }
          };
  
          if (this.distance > 0) {
            delete searchData["community"];
          }
  
          await this.getData(searchData);
          // $("#data-table").empty();
          this.necesidades.map((marker,x) => {
          // marker.locations.map(location => {
            this.necesidades[x].marker = L.marker([marker.location.coordinates[0], marker.location.coordinates[1]]).addTo(this.map);
            // })
          });
  
          if(this.necesidades.length > 0) {
            this.necesidades[0].marker.bindPopup(`AQYU<b>${this.necesidades[0].users[0].name}</b>`, { closeButton: false }).openPopup();
          }
          $("#data-table").css("border", "1px solid rgba(0, 0, 0, 0.1)");
  
          $(".spin-container").toggle();
          $("#data-area").toggle();        
        });
  
        let hasFreetextBeenFilled = false;
        $("#search").keyup(async () => {
          $(".spin-container").toggle();
          $("#data-area").toggle();
          const value = $("#search").val();
          console.log("clicado")
          // $("#search").css("background-color", "pink");
          // hasFreetextBeenFilled && value.length <= 0 => when something more than 3 characters is writen
          // in free texet field and the everything is deleted, text search is "" (empty text)
          if (value.length >= 3 || (hasFreetextBeenFilled && value.length <= 0)) {
            $(".spin-container").toggle();
            $("#data-area").toggle();
  
            hasFreetextBeenFilled = true;
            this.freeSearch = value;
            console.log("el texto tiene 3 o mas caracteres o viene de buscar por texto ha borrar todo el texto");
  
            this.necesidades.map(marker => this.map.removeLayer(marker.marker));
            
            const community = this.$route.params.community;
            const communityLocationId = this.comunities[community]._id;
  
            let search = {
              "type": "necesidades",
              "categories": this.categoriesSelected,
              "community": [`${communityLocationId}`],
              "text": `${this.freeSearch}`,
              // no compatible con el engine de mongo
              "location": {
                "geometry": this.communityLocation,
                "maxDistance": parseInt(this.distance)
              }
            }
            await this.getData(search);
            console.log("necesidades", this.necesidades)
            // $("#data-table").empty();
            this.necesidades.map((marker,x) => {
            // marker.locations.map(location => {
              this.necesidades[x].marker = L.marker([marker.location.coordinates[0], marker.location.coordinates[1]]).addTo(this.map);
              // })
            });
            if(this.necesidades.length > 0) {
              this.necesidades[0].marker.bindPopup(`<b>${this.necesidades[0].users[0].name}</b><br />
              <span>📓 ${this.necesidades[0].users[0].contact_ways[0].type} : ${this.necesidades[0].users[0].contact_ways[0].data}</span>`, { closeButton: false }).openPopup();
            }
            $("#data-table").css("border", "1px solid rgba(0, 0, 0, 0.1)");
  
            $(".spin-container").css("display", "none");
            $("#data-area").css("display", "flex");
          }
        });
      },
  
      methods: {
          async getData(conf) {
            // this.necesidades = JSON.parse(await $.post( "https://gplaza-server-r.onrender.com/search", conf));
             /* this.necesidades = await fetch("https://gplaza-server-r.onrender.com/search", {
              "headers": {
                "Content-Type": "application/json; charset=UTF-8; charset=UTF-8",
              },
              "body": JSON.stringify(conf),
              "method": "POST",
            });
            console.log("pasa necesidades2", this.necesidades); 
            this.necesidades = await this.necesidades.json();
            console.log("pasa necesidades", this.necesidades);  */
  
           const resp = await fetch("https://gplaza-server-r.onrender.com/search", {
              "headers": {
                "Content-Type": "application/json; charset=UTF-8; charset=UTF-8",
              },
              "body": JSON.stringify(conf),
              "method": "POST",
            })
            .then((response) => response.json())
            .then((responseJSON) => {return responseJSON});
  
            this.necesidades = resp.data;
          },
  
          async init() {
              console.log("page dones", this.distance);
              const page = window.location.hash;
              let splitted = page.split("/");
              console.log("splitted first necesidades", splitted)
              splitted[0] = splitted[0].substring(1);
              console.log("splitted second necesidades", splitted)
  
              this.mapCharged = true;
              console.log("antes map")
              this.map = L.map('map').setView(this.communityLocation, 15);
              const tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1
              }).addTo(this.map);
               
              // $("#donesButton").html(`<a class="btn ${splitted[0]}/${splitted[1] === "dones" ? "btn-error" : "btn-success"}" href="#${splitted[0]}/${splitted[1] === "dones" ? "necesidades" : "dones"}" role="button" style="float:right;background-color:${splitted[1] === "dones" ? "red" : "#198754"};cursor:pointer;font-size:1.2em;border-radius:0;margin-left:8px;margin-bottom:10px;padding-bottom:10px;background-image:unset;color:#fff" title="Ver ${splitted[1] === "dones" ? "las necesidades" : "los dones"} de esta comunidad">${splitted[1] === "dones" ? "Necesidades" : "Dones"}</a>`);
              $("#donesButtonMenu").html(`<RouterLink class="btn float-sm-end ${splitted[0]}/${splitted[1] === "dones" ? "btn-error" : "btn-success"}" to="#${splitted[0]}/${splitted[1] === "dones" ? "necesidades" : "dones"}" role="button" style="float:right;background-color:${splitted[1] === "dones" ? "red" : "#198754"};cursor:pointer;font-size:1.2em;border-radius:0;margin-left:8px;margin-bottom:10px;padding-bottom:10px;background-image:unset;color:#fff" title="Ver ${splitted[1] === "dones" ? "las necesidades" : "los dones"} de esta comunidad">${splitted[1] === "dones" ? "Necesidades" : "Dones"}</RouterLink>`);
              console.log("comunidad4", splitted)
  
              this.necesidades.map((marker,x) => {
              // marker.locations.map(location => {
                // this.necesidades[x].marker = L.marker([location.coordinates[0], location.coordinates[1]]).addTo(this.map);
                this.necesidades[x].marker = L.marker([marker.location.coordinates[0], marker.location.coordinates[1]]).addTo(this.map);
                // })
              });
  
              if(this.necesidades.length > 0) {
                this.necesidades[0].marker.bindPopup(`INIT<b>${this.necesidades[0].users[0].name}</b><br />
              <span>📓 ${this.necesidades[0].users[0].contact_ways[0].type} : ${this.necesidades[0].users[0].contact_ways[0].data}</span>`, { closeButton: false }).openPopup();
              }
              $("#data-table").css("border", "1px solid rgba(0, 0, 0, 0.1)");
          },
  
          go(id) {
            if (this.activeMarkerId === id) return;
            $("#0").removeClass("grey-background");
            
            console.log("id", id, this.necesidades[id])
            // document.getElementById("selectNecesity").innerHTML = this.necesidades[id].name;
            document.getElementById(this.activeMarkerId).style.backgroundColor = "";
            document.getElementById(id).style.backgroundColor = "rgb(249,249,249)";
            document.getElementById(this.activeMarkerId).style.cursor = "pointer";
            document.getElementById(id).style.cursor = "auto";
            this.map.setView([this.necesidades[id].location.coordinates[0], this.necesidades[id].location.coordinates[1]], 15);
            console.log("en go", this.necesidades[id])
            this.selectedNecesidad = this.necesidades[id].users;
            this.necesidades[id].marker.bindPopup(`GO<b>${this.necesidades[0].users[0].name}</b><br />
              <span>📓 ${this.necesidades[0].users[0].contact_ways[0].type} : ${this.necesidades[0].users[0].contact_ways[0].data}</span>`, { closeButton: false }).openPopup();
            this.activeMarkerId = id;
          },
  
          goInsideMap(id, activeMarkerId) {
            // if (this.activeMarkerId === id) return;
            // $("#0").removeClass("grey-background");
            
            console.log("id", id, this.necesidades[`${id + activeMarkerId}`], id + activeMarkerId)
  
            
            // document.getElementById("selectNecesity").innerHTML = this.necesidades[id].name;
          /*   document.getElementById(this.activeMarkerId).style.backgroundColor = "";
            document.getElementById(id).style.backgroundColor = "rgb(249,249,249)";
            document.getElementById(this.activeMarkerId).style.cursor = "pointer";
            document.getElementById(id).style.cursor = "auto";
            this.map.setView([this.necesidades[id].location.coordinates[0], this.necesidades[id].location.coordinates[1]], 15); */
            console.log("en go inside", this.necesidades[id])
            // this.selectedNecesidad = this.necesidades[id].users;
            this.necesidades[`${id + activeMarkerId}`].marker.bindPopup(`GO INSIDE
              <b>${this.selectedNecesidad[id].name}</b><br />
              <span>📓 ${this.selectedNecesidad[id].contact_ways[0].type} : ${this.selectedNecesidad[id].contact_ways[0].data}</span>
              `, { closeButton: false }).openPopup();
            // this.activeMarkerId = id;
          },
  
          async searchCategory(category) {
            console.log("category", $(this))
            $(".spin-container").toggle();
            $("#data-area").toggle();
            $(`#${category}`).toggleClass("category-clicked");
            this.necesidades.map(marker => this.map.removeLayer(marker.marker));
            category = this.categories[category];
            if (this.categoriesSelected.includes(category)) {
              console.log("borrar la categoria de this.categories")
              const x = this.categoriesSelected.findIndex((cat) => cat === category);
              this.categoriesSelected.splice(x, 1);
            } else {
              this.categoriesSelected.push(category);
            }
  
            const community = this.$route.params.community;
            const communityLocationId = this.comunities[community]._id;
            
            await this.getData({
              "type": "necesidades",
              "categories": this.categoriesSelected,
              "community": [`${communityLocationId}`],
              "text": `${this.freeSearch}`,
              "location": {
                "geometry": this.communityLocation,
                "maxDistance": parseInt(this.distance)
              }
            });
  
            // $("#data-table").empty();
            // console.log("despues", this)
            this.necesidades.map((marker,x) => {
            // marker.locations.map(location => {
                // this.necesidades[x].marker = L.marker([location.coordinates[0], location.coordinates[1]]).addTo(this.map);
                // })
                this.necesidades[x].marker = L.marker([marker.location.coordinates[0], marker.location.coordinates[1]]).addTo(this.map);
              });
  
            if(this.necesidades.length > 0) {
              this.necesidades[0].marker.bindPopup(`<b>${this.necesidades[0].users[0].name}</b><br />
              <span>📓 ${this.necesidades[0].users[0].contact_ways[0].type} : ${this.necesidades[0].users[0].contact_ways[0].data}</span>`, { closeButton: false }).openPopup();
            }
            $("#data-table").css("border", "1px solid rgba(0, 0, 0, 0.1)");
            $(".spin-container").toggle();
            $("#data-area").toggle();
          },
  
          changeCommunity(name){
            console.log("changeCommunity(community.name)", name)
            /* this.$router.push({name: 'necesidades', params: {
              community: name
            }}) */
  
            window.location.href = `/gplaza-client/#/${name}/necesidades`;
            location.reload();
          }
    },
  }
  </script>