body {
  font-size: 1.05em;
}
a:not([class*="btn"]) {
  text-decoration: none;
}
.scrollable {
  background-color: #fff;
  /* width: 48%; */
  height: auto;
  overflow: auto;
  padding: 0 0 10px 0;
  margin: 0 10px 0 30px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  /* font-size: 1.05em; */
  height: 500px !important;
  overflow-y: auto !important;
}
.scrollable b {
  padding-left:5px;
}
tr td b {
  font-size: 1.2em;
}
#data-area {
  margin-left:50px;
  margin-top:10px;
}
#searchs {
  margin-left: 20px;
}

/* menu */
#toggle {
  position: absolute;
  z-index: 3;
  width: 2.8571428571em;
  height: 2.8571428571em;
  top: 0;
  left: 0;
  /* margin: 15px 0 0 15px; */
  margin: 0 0 0 5px;
  cursor: pointer;
}
#toggle span {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.2em;
  margin: 1.25em 0 0 0;
  background: black;
  -webkit-transition: 350ms ease all;
  -moz-transition: 350ms ease all;
  transition: 350ms ease all;
}
#toggle span:before, #toggle span:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  -webkit-transition: 350ms ease all;
  -moz-transition: 350ms ease all;
  transition: 350ms ease all;
}
#toggle span:before {
  margin: -.5em 0 0 0;
}
#toggle span:after {
  margin: .5em 0 0 0;
}
#toggle.open span {
  background-color: transparent;
}
#toggle.open span:before, #toggle.open span:after {
  margin: 0;
  background: #286efa;
}
#toggle.open span:before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
}
#toggle.open span:after {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: #fff;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 350ms ease all;
  -moz-transition: 350ms ease all;
  transition: 350ms ease all;
}
#menu.opened {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 350ms ease all;
  -moz-transition: 350ms ease all;
  transition: 350ms ease all;
}
#menu span#title {
  display: block;
  line-height: .5em;
  /* margin: 0 0 0.5em 0; */
  margin: .2em 0 1em 0;
  font-size: 5em;
  color: #286efa;
}
#menu ul {
  list-style: none;
  margin: 0 auto;
}
#menu ul li {
  display: block;
  width: 90%;
  height: 65px;
  margin: 0 auto 0.5em auto;
}
#menu ul li:after {
  content: " ";
  position: absolute;
  width: 0%;
  height: 65px;
  margin: -65px 0 0 5%;
  left: 0;
  background: #286efa;
  border-radius: 0.25em;
  -webkit-transition: 350ms ease all;
  -moz-transition: 350ms ease all;
  transition: 350ms ease all;
}
#menu ul li:hover:after {
  width: 90%;
}
#menu ul li a {
  position: relative;
  z-index: 4;
  display: block;
  width: 100%;
  height: 65px;
  line-height: 65px;
  margin: 0 auto;
  color: #286efa;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 0.2em;
  -webkit-transition: 350ms ease all;
  -moz-transition: 350ms ease all;
  transition: 350ms ease all;
}
#menu ul li a:hover {
  color: #eee;
   border-color: #286efa;
 }
 #menu ul li a span {
   font-size: 1.6666666667em;
 }
 #menu ul li a i {
   position: absolute;
   padding: 0 1.25em 0 0;
   font-size: 2em;
 }

    #wrapper {
      width: 85%;
      margin: 0 auto;
    }
    #wrapper #logo {
      display: block;
      width: 100%;
      margin: 40px auto;
      text-align: center;
    }
    #wrapper #logo span {
      font-size: 3.3333333333em;
    }
    #wrapper section {
      font-size: 1.1111111111em;
    }
    /* menu */

/* loading */
.spin-container {
  text-align: center;
  margin-top: 100px;
}
.spin {
  border: 3px solid #0D4B9F;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader2 {
  border: 3px solid #E0EDFF;
  width: 220px;
  height: 220px;
  position: relative;
  top: -216px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader3 {
  border: 3px solid #005CDC;
  width: 240px;
  height: 240px;
  position: relative;
  top: -452px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader4 {
  border: 3px solid #94B6E5;
  width: 260px;
  height: 260px;
  position: relative;
  top: -708px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}
#text {
  color: #000;
  font-family: Arial;
  font-size: 15px;
  position: relative;
  top: -857px;
}
/* end loading */
.category-clicked {
  background-color: yellow;
  cursor: pointer;
  border-radius: 1em;
  margin-right: 3px;
}
li#menuButton {
  /* width: 30% !important;
  float: right !important;
  margin-right: 5% !important; */
}
li#menuButton::after {
  background: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
}
#map-container {
  padding-right:50px;
}
.footer {
  background: aliceblue;
  margin: 10px;
  padding: 10px;
}
.grey-background {
  background-color: rgb(249,249,249);
  cursor:pointer
}

/* responsive */
    /* X-Small devices (portrait phones, less than 576px) 
    @media (max-width: 575.98px) { ... } *

    /* Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) { ... } */

    /* Medium devices (tablets, less than 992px) */


    @media (min-width: 1641.98px) {
      .scrollable {
        width: 48%;
        margin: 0 10px 0 22px;
      }
    }

    /* not bootstrap device */
    @media (min-width: 1060px) {
      #donesButton {
        display: flex;
      }
      #donesButtonMenu {
        display: none;
      }
    }

    @media (max-width: 1059.99px) {
      #donesButton {
        display: none;
      }
      #donesButtonMenu {
        display: flex;
      }
    }
    /* END not bootstrap device */


    @media (min-width: 991.98px) {
      .scrollable {
        width: 48%;
        margin: 0 5px 0 14px;
      }
    }

   

    @media (max-width: 991.98px) {
      #searchs {
        text-align:center;
      }
      #searchs div {
        padding-top:15px;
      }
      /* #post-header {
        display:block;
      } */
      #donesButton a {
        text-align: center;
      }
      .scrollable {
        /* margin: 0 0 0 15px; */
        margin: 0;
        height: auto;
      }
      #data-area {
        margin-right: 0;
        margin-left: 5px;
      }
      #map-container {
        padding-right:0;
      }
    }

    @media (min-width: 767.99px) {
      .scrollable {
        width: 48%;
        margin: 0;
        overflow: hidden;
      }
    }

    @media (max-width: 767.99px) {
      #data-area {
        margin-right: 5px;
      }
      .scrollable {
        margin: 0 0 10px 0;
        height: 400px;
      }
      #map-container {
        padding-left: 0;
      }
      .pb-3 {
        padding-bottom: 0 !important;
      }
      #map {
        height: 400px !important;
        margin: 0 20px !important;
      }
    }
    /* Large devices (desktops, less than 1200px)
    @media (max-width: 1199.98px) { ... } */

    /* X-Large devices (large desktops, less than 1400px)
    @media (max-width: 1399.98px) { ... } */

/* XX-Large devices (larger desktops)
 No media query since the xxl breakpoint has no upper bound on its width */

/* responsive */
